{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<section class="py-5 px-5" style="border-outline: none">
	<div class="container px-4 px-lg-5 ">
		<div class="row product gx-4 gx-lg-5 justify-content">
			<div class="card col-md-3 h-100" style="border: none">
				<img class="card-img" src="{{ course.image.url }}" alt=""></img>
			</div>
			<div class="col-md-9 p-4">
				<div class="h5 text-dark fw-bolder"> 
					{{ course.name }}<hr>
				</div>
				<div class="h6 text-dark "> 
					{{ course.summary }}
				</div>
				<div class="row py-3">
					<div class="col-2">
						<div class="progress" style="position: absolute"> 
							<div class="progress-bar progress-bar-secondary" role="progressbar" style="width: 100%;" aria-valuemin="0" aria-valuemax="100">
							</div>	
						</div>
						<div class="progress"> 
							<div class="progress-bar" role="progressbar" style="width: {{course.get_rating}}%;" aria-valuemin="0" aria-valuemax="100">
							</div>	
						</div> 
					</div>
					<div class="col my-1 mx-3">
						{{course.rating}}/10
					</div>
				</div>
				<hr>
				<div class="row text-end me-5 py-3">
					<div class="col-10">
						<!-- Course price-->
                        {% if course.discount == 0 %}
                            <div class="display-8 my-3 pt-1">
                                R$ {{ course.price }}
                            </div>
                        {% else %}
						<div class="mt-2">
                            <span class="display-9 text-decoration-line-through text-secondary">
                                R$ {{ course.price }} 
                            </span> 
                            </br>
                            <span class="display-8">
                                R$ {{ course.get_price_with_discount }}
                            </span>
						</div>
                        {% endif %}
					</div>
					<div class="col">
						<a class="btn btn-outline-dark mt-auto mb-auto" href="{{ course.link }}" target="_blank"><i class="bi bi-cart3"></i> Comprar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% comment %} 
caso eu adiciona mais imagens de curso, vou usar esse bloco
<div class="container service1-items col-sm-2 col-md-2 pull-left">
	<center>
		<a id="item-1" class="service1-item">
			<img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
		</a>
		<a id="item-2" class="service1-item">
			<img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
		</a>
		<a id="item-3" class="service1-item">
			<img src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png" alt=""></img>
		</a>
	</center>
</div> 
{% endcomment %}
<section class="py-5 px-5" style="border-outline: none">
	<div class="container px-4 px-lg-5 ">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Descrição</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Informações</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Avaliações</a>
			</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">Hello</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Dear</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Friedns</div>
			</div>
	</div>
</section>

		<div class="container-fluid">		
			<div class="col-md-12 product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">
						<li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
						<li><a href="#service-two" data-toggle="tab">PRODUCT INFO</a></li>
						<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>
						
					</ul>
				<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">
						 
							<section class="container product-info">
								The Corsair Gaming Series GS600 power supply is the ideal price-performance solution for building or upgrading a Gaming PC. A single +12V rail provides up to 48A of reliable, continuous power for multi-core gaming PCs with multiple graphics cards. The ultra-quiet, dual ball-bearing fan automatically adjusts its speed according to temperature, so it will never intrude on your music and games. Blue LEDs bathe the transparent fan blades in a cool glow. Not feeling blue? You can turn off the lighting with the press of a button.

								<h3>Corsair Gaming Series GS600 Features:</h3>
								<li>It supports the latest ATX12V v2.3 standard and is backward compatible with ATX12V 2.2 and ATX12V 2.01 systems</li>
								<li>An ultra-quiet 140mm double ball-bearing fan delivers great airflow at an very low noise level by varying fan speed in response to temperature</li>
								<li>80Plus certified to deliver 80% efficiency or higher at normal load conditions (20% to 100% load)</li>
								<li>0.99 Active Power Factor Correction provides clean and reliable power</li>
								<li>Universal AC input from 90~264V — no more hassle of flipping that tiny red switch to select the voltage input!</li>
								<li>Extra long fully-sleeved cables support full tower chassis</li>
								<li>A three year warranty and lifetime access to Corsair’s legendary technical support and customer service</li>
								<li>Over Current/Voltage/Power Protection, Under Voltage Protection and Short Circuit Protection provide complete component safety</li>
								<li>Dimensions: 150mm(W) x 86mm(H) x 160mm(L)</li>
								<li>MTBF: 100,000 hours</li>
								<li>Safety Approvals: UL, CUL, CE, CB, FCC Class B, TÜV, CCC, C-tick</li>
							</section>
										  
						</div>
					<div class="tab-pane fade" id="service-two">
						
						<section class="container">
								
						</section>
						
					</div>
					<div class="tab-pane fade" id="service-three">
												
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
{% endblock content %}