{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mentoria Virtual</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'affiliate/images/diagram-3-fill.svg' %}" />


        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'affiliate/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand is-disabled" href="#!"><i class="bi bi-diagram-3-fill mx-2"></i>Mentoria Virtual</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% url 'home' as home %}
                        {% url 'about' as about %}
                        {% url 'terms' as terms %}
                        {% url 'contact' as contact%}
                        <li class="nav-item"><a class="nav-link {% if request.path == home %}active{% endif %}"  href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == about %}active{% endif %}" href="{% url 'about' %}">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == terms %}active{% endif %}" href="{% url 'terms' %}">Termos</a></li>
                        <li class="nav-item"><a class="nav-link {% if request.path == contact %}active{% endif %}" href="{% url 'contact' %}">Contato</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cursos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Todos</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Mais Populares</a></li>
                                <li><a class="dropdown-item" href="#!">Novidades</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}
        {% endblock content %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Mentoria Virtual 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'affiliate/js/scripts.js' %}"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </body>
</html>
