{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<!-- TODO: Melhorar o css dessa página -->
<section class="py-5 px-5">
    <div class="container px-4 px-lg-5">
        <h3 class='pb-5 text-center'>Termos de uso</h3>
        <p>
            A Mentoria Virtual oferece um espaço de divulgação de produtos digitais de forma simples e prática, possibilitando que as pessoas 
            vivam de suas paixões e ensinem o que têm de melhor. Estes Termos regem o uso da Plataforma Mentoria Virtual e de todos os recursos, 
            aplicativos, serviços, tecnologias e softwares disponibilizados por ela, exceto quando expresso o contrário.
        </p>
            Em especial, tratamos indistintamente como Plataforma Mentoria Virtual ou simplesmente Plataforma tanto o site mentoriavirtual.com e 
            seus subdomínios, como quaisquer outros sites, interfaces ou aplicativos nos quais a Mentoria Virutal disponibilize seus recursos. 
            Os serviços relacionados aos recursos disponibilizados pela Mentoria Virtual são coletivamente referidos como Serviços.
        <p>
        <p>
            Ao acessar ou usar a Plataforma, você concorda em se vincular a estes Termos e em cumprir as suas regras. Você deve ler estes Termos 
            de forma atenta e cuidadosa, pois eles contêm informações importantes sobre seus direitos e obrigações relativos ao acesso ou uso dos 
            recursos ou Serviços da Mentoria Virtual.
        </p>
        <p>
            A. Estes Termos regulam o acesso ou uso de recursos contidos na Plataforma para todos em qualquer lugar do mundo.
        </p>
        <p>
            B. A Mentoria Virtual não é responsável pelas transações.
        </p>
        <p>
            C. Estes Termos constituem um contrato vinculante entre você e a Mentoria Virtual, e regem seu acesso e uso: (a) do site 
            mentoriavirtual.com e seus subdomínios; (b) de quaisquer outros sites, interfaces ou aplicativos nos quais a Mentoria Virtual disponibilize 
            seus recursos, inclusive nossos aplicativos de celular, tablet ou de outros dispositivos eletrônicos; e (c) de todos os serviços relacionados 
            aos recursos disponibilizados pela Mentoria Virtual.
        </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        
        
    </div>
</section>

{% endblock content %}
